# Node dependencies
node_modules/

# Env files (ignore all .env variants)
.env
.env.*
!.env.example   # optional: agar tu koi template .env file dena chahta hai

# Build and output
/build
/.next
/out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Vercel and others
.vercel
.pnp.*
